body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.textfield {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.textfield label {
text-align: left;
display: block;

}
.textfield h2{
  font-size: 20px;
  color: #1f1518;
  margin-bottom: 30px;

}
.textfield input {
width: 100%;
padding: 6px 10px;
margin: 10px 0;
border: 1px solid #ddd;
display: block;
}
.textfield button {
  background: #1f1518;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}